.orders {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 4rem;
}

.bg-white {
  background-color: white;
 }
 
@media (max-width: 68.125em) {
  .orders {
    grid-template-columns: 1fr;
  }
}
