.nav {
  margin: auto;
  max-width: 120rem;
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 6rem;
  justify-content: space-between;
}

.nav a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 1rem 4rem;
  /* border-radius: 8px; */
  transition: all 500ms;
  display: inline-block;
  padding: 2rem 4rem;
  width: 100%;
  text-align: center;
}

.nav li {
  width: 100%;
}

.nav a:hover {
  background: darkblue;
}

.active {
  background: blue;
}

@media (max-width: 43.25em) {
  .nav a {
    font-size: 1.4rem;
    padding: 2rem 2rem;
  }
}

@media (max-width: 30.7em) {
  .nav a {
    font-size: 1.4rem;
    padding: 2rem 0.8rem;
  }
}

@media (max-width: 25em) {
  .nav a {
    font-size: 1.2rem;
    padding: 2rem 0.4rem;
  }
}
