.header {
  position: relative;
  position: sticky;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 8rem;
  border-bottom: 4px solid #fff;
  height: 8rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-container {
  transition: all 1s;
}

.menu-icon {
  margin: auto;
  width: 4rem;
  height: 4rem;
  display: none;
}

.logo a {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  padding: 2.3rem 2rem;
  transition: all 500ms;
}

.logo a:hover {
  background-color: darkblue;
}

.toggle-nav {
  opacity: 1;
}

.btn-container {
  width: 20rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.cart-button {
  background-color: #ffc107;
  background-color: #495057;
  padding: 1.2rem 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
  margin-right: 1rem;
  min-width: 14rem;
  border-radius: 8px;
  color: #fff;
  transition: all 500ms;
}

.cart-button:hover {
  transform: scale(1.1);
}

.bounce {
  background-color: blue;
  animation: bounce 1.5s ease-out;
  box-shadow: 0 0 50px rgba(255,216,230,0.5);
}

@keyframes bounce {
  0%{
    transform: scale(0);
  }
  10%{
    transform: scale(0.9);
  }
  30%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }  
}


.icon {
  width: 3rem;
  height: 3rem;
  stroke-width: 1.4;
  color: #be4bdb;
}

.cart-button span {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 68.75em) {
  .logo a {
    font-size: 1.8rem;
  }
}

@media (max-width: 51.9em) {
  .cart-button {
    padding: 0.8rem 0.6rem;
    min-width: 10rem;
  }
  .cart-button span {
    font-size: 1.4rem;
  }

  .logo a {
    font-size: 1.8rem;
    padding: 2.8rem 0.8rem;
  }

  .btn-container {
    width: 14rem;
  }
}

@media (max-width: 48em) {
  .menu-icon {
    display: block;
  }

  .toggle-nav {
    opacity: 0;
    pointer-events: none;
  }
}
