.platforms {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 3rem;
  row-gap: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 62.5em) {
  .platforms {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 43.75em) {
  .platforms {
    grid-template-columns: 1fr;
  }
}
