.form {
  max-width: 90rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  position: relative;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.group label {
  font-size: 2rem;
}

.group input {
  height: 4rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  outline: none;
  border: 2px solid blue;
  font-size: 1.6rem;
}

.group textarea {
  height: 8rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  outline: none;
  border: 2px solid blue;
  font-size: 1.6rem;
}

.action button {
  font-size: 2rem;
  border: none;
  background-color: blue;
  color: #fff;
  padding: 1.2rem;
  border-radius: 8px;
}

.form h2 {
  text-align: center;
}

.group select {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  outline: none;
  border: 2px solid blue;
  height: 4rem;
  font-size: 2.4rem;
}
